.divCargando {
  width: 100%;
  text-align: center;
}
.divCargando .lds-ring {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
}
.divCargando .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 8px;
  border: 3.5px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.divCargando .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.divCargando .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.divCargando .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.divCargando p {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12.5pt;
  margin-top: 6px;
  color: #fafafa;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
